.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__link {
    @extend %Roboto400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    color: #BABABA;
  }

  &__rights {
    margin-top: 10px;
    @extend %Roboto400;
    font-size: 10px;
    line-height: 12px;
    color: #BABABA;
  }
}
